In [1]:
#1 Data Wrangling. I
#Perform the following operations using Python on any open source dataset (e.g, data.csv) 1. Import all the required Python 
#Libraries.Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear
#description of the data and its source (l.e., URL of the web site). 
#3. Load the Dataset into pandas dataframe. 
#4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe()
#function to get some initial statistics. Provide variable descriptions. Types of variables etc.
#Check the dimensions of the data frame. 5. Data Formatting and Data Normalization: Summarize the types of variables by 
#checking the data types (ie., character, numeric, integer, factor, and logical) of the variables in the data set.
#If variables are not in the correct data type, apply proper type conversions.
#6. Turn categorical variables into quantitative variables in Python.


import pandas as pd
import numpy as np

In [2]:
wine_df = pd.read_csv("winequalityN.csv")

In [3]:
wine_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
#checking for missing values
wine_df.isnull().sum()

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

In [5]:
# Replace missing values with the median value of the column
# Use one-hot encoding to convert the "type" column to numerical values
wine_df = pd.get_dummies(wine_df, columns=['type'])

In [6]:
# Drop the original "type" column
wine_df = wine_df.drop(['type_white'], axis=1)

In [7]:
# Convert the remaining columns to float
wine_df = wine_df.astype(float)

In [8]:
wine_df.fillna(wine_df.median())

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type_red
0,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6.0,0.0
1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6.0,0.0
2,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6.0,0.0
3,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6.0,0.0
4,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5.0,1.0
6493,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.51,11.2,6.0,1.0
6494,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0,1.0
6495,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0,1.0
6496,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0,1.0

In [9]:
wine_df.shape

(6497, 13)

In [10]:
# Convert the "quality" variable to a categorical variable
wine_df['quality'] = pd.Categorical(wine_df['quality'])
wine_df['quality'] = wine_df['quality'].cat.codes

In [11]:
wine_df["quality"]

0       3
1       3
2       3
3       3
4       3
       ..
6492    2
6493    3
6494    3
6495    2
6496    3
Name: quality, Length: 6497, dtype: int8

In [12]:
wine_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                    int8
type_red                float64
dtype: object

In [13]:
#creating a dictionary to map categorical values to numeric values
quality_dict = {"3":1,"4":2,"5":3,"6":4,"7":5,"8":6}
wine_df["quality"] = wine_df["quality"].map(quality_dict)